.forgotPass{
    height:75vh !important;
    position: absolute;
    top:70px !important;
    .login-description{
        padding-left: 45px !important;
    }
    .forgot_pass{
        margin-top:40px !important;
        display:flex !important;
        justify-content: center !important;
    }
}