// .resetPass{
//     height:50vh !important;
//     position: absolute;
//     top:70px !important;
//     .login-description{
//         padding-left: 45px !important;
//     }
//     .forgot_pass{
//         margin-top:40px !important;
//         display:flex !important;
//         justify-content: center !important;
//     }
// }
.container{
    width:100vw;
    height:100vh;

    z-index: -1;;

    .resetPass{
        width:25vw;
        height:60vh;
        position:absolute;
        top:120px;
        left:500px;
        z-index:2;
        img{
            padding:1.5rem;
            padding-left:25px;
            
        }
        .login_title{
            padding:1.5rem;
            padding-left: 25px;
            font-weight:600;

            font-size:25px;

        }
        .login_description{
            padding-left:25px;
            color:rgb(138, 136, 136)
        }

        .form-input{
            padding-left:25px;

            .password:focus{
                border-bottom: 2px solid #c12b3d;
            }

            .login_button{
                width:90%;
                padding:12px;
                margin-top:1.5rem;
                background-color:#c12b3d;
                border-radius:0px !important;
            }
            .forgot_pass{
                margin:auto;
                display: flex;
                justify-content: space-around;
                width:190px;
                margin-top:40px;
                color:rgb(165, 164, 164);
                .reset_pass{
                color:#c12b3d;
                text-decoration: none;
                
            }
            }
            
        }
        
    }
}